<!DOCTYPE html>
<html>
	<head>
		<title>Search Wine</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="author" content="Tim Andrews">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
		<%= stylesheet_link_tag    'winequeries', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'winequeries', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container search_wrapper">
			<h3 style="text-align:left;">&#160;
				<form class="navbar-form search_form" role="search" onsubmit="return runKeywordSearch();">
					<div class="input-group add-on">
						<input type="text" class="form-control" placeholder="Search" name="keyword_search" id="keyword_search">
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
						</div>
					</div>
				</form>
			</h3>
			<div class="w100fl searchdiv altbc">
				<div class="entrydiv_row1">
					<span class="entrylabel">Varietal</span>
					<select id="varietal" name="varietal" class="selectpicker" data-live-search="true" title="Varietal">
						<option value="">All</option>
						<option value="barbera" style="display:none;">Barbera</option>
						<option value="cabernet blends">Cabernet Blends</option>
						<option value="cabernet franc">Cabernet Franc</option>
						<option value="champagne blends">Champagne Blends</option>
						<option value="chardonnay">Chardonnay</option>
						<option value="gamay">Gamay</option>
						<option value="gewurztraminer">Gewurztraminer</option>
						<option value="grenache">Grenache</option>
						<option value="interesting reds">Interesting Reds</option>
						<option value="interesting sweets">Interesting Sweets</option>
						<option value="interesting whites">Interesting Whites</option>
						<option value="malbec">Malbec</option>
						<option value="merlot">Merlot</option>
						<option value="muscat">Muscat</option>
						<option value="nebbiolo">Nebbiolo</option>
						<option value="other">Other</option>
						<option value="petite sirah">Petite Sirah</option>
						<option value="pinot noir">Pinot Noir</option>
						<option value="port blends">Port Blends</option>
						<option value="red bordeaux blends">Red Bordeaux Blends</option>
						<option value="red rhone blends">Red Rhone Blends</option>
						<option value="riesling">Riesling</option>
						<option value="roussanne">Roussanne</option>
						<option value="sangiovese">Sangiovese</option>
						<option value="sauvignon blanc">Sauvignon Blanc</option>
						<option value="semillon blends">Semillon Blends</option>
						<option value="super tuscan blends">Super Tuscan Blends</option>
						<option value="syrah/shiraz">Syrah/Shiraz</option>
						<option value="tempranillo">Tempranillo</option>
						<option value="viognier">Viognier</option>
						<option value="white bordeaux blends">White Bordeaux Blends</option>
						<option value="white rhone blends">White Rhone Blends</option>
						<option value="zinfandel">Zinfandel</option>
					</select>
				</div>
				<div class="entrydiv_row1">
					<span class="entrylabel">Country</span>
					<select id="country" name="country" class="selectpicker" data-live-search="true" title="Country">
						<option value="">All</option>
						<option value="argentina">Argentina</option>
						<option value="austria">Austria</option>
						<option value="australia">Australia</option>
						<option value="canada">Canada</option>
						<option value="chile">Chile</option>
						<option value="france">France</option>
						<option value="germany">Germany</option>
						<option value="hungary">Hungary</option>
						<option value="italy">Italy</option>
						<option value="lebanon">Lebanon</option>
						<option value="mexico">Mexico</option>
						<option value="new zealand">New Zealand</option>
						<option value="other">Other</option>
						<option value="portugal">Portugal</option>
						<option value="spain">Spain</option>
						<option value="south africa">South Africa</option>
						<option value="united states">United States</option>
					</select>
				</div>
				<div class="entrydiv_row1">
					<span class="entrylabel">Region</span>
					<select id="region" name="region" class="selectpicker" data-live-search="true" title="Region">
						<option value="">All</option>
						<option value="abruzzo">Abruzzo</option>
						<option value="alsace">Alsace</option>
						<option value="bordeaux">Bordeaux</option>
						<option value="burgundy">Burgundy</option>
						<option value="california">California</option>
						<option value="champagne">Champagne</option>
						<option value="languedoc roussillon">Languedoc Roussillon</option>
						<option value="loire">Loire</option>
						<option value="mosel saar ruwer">Mosel Saar Ruwer</option>
						<option value="nahe">Nahe</option>
						<option value="oregon">Oregon</option>
						<option value="other">Other</option>
						<option value="pfalz">Pfalz</option>
						<option value="piedmont">Piedmont</option>
						<option value="priorat">Priorat</option>
						<option value="provence">Provence</option>
						<option value="rheingau">Rheingau</option>
						<option value="rhone">Rhone</option>
						<option value="ribera del duero">Ribera del Duero</option>
						<option value="rioja">Rioja</option>
						<option value="spain">Spain</option>
						<option value="tuscany">Tuscany</option>
						<option value="veneto">Veneto</option>
						<option value="washington">Washington</option>
					</select>
				</div>
				<div class="entrydiv_row1">
					<span class="entrylabel">Size</span>
					<select id="size" name="size" class="selectpicker" data-live-search="true" title="Format">
						<option value="">All</option>
						<option value="6000">6.0L</option>
						<option value="5000">5.0L</option>
						<option value="3000">3.0L</option>
						<option value="1500">1.5L</option>
						<option value="750">750mL</option>
						<option value="500">500mL</option>
						<option value="375">375ml</option>
					</select>
				</div>
				<div class="entrydiv_row2">
					<span class="entrylabel">Scores</span>
					<div class="srchinputdiv">
						<input type="text" id="score_low" name="score_low" class="form-control srchinput" value="" onkeyup="FUSION.lib.noAlpha(this)" />
						<span class="srchspan">-</span>
						<input type="text" id="score_high" name="score_high" class="form-control srchinput" value="" onkeyup="FUSION.lib.noAlpha(this)" />
					</div>
				</div>
				<div class="entrydiv_row2">
					<span class="entrylabel">Price</span>
					<div class="srchinputdiv">
						<input type="text" id="price_low" name="price_low" class="form-control srchinput" value="" onkeyup="FUSION.lib.noAlpha(this)" />
						<span class="srchspan">-</span>
						<input type="text" id="price_high" name="price_high" class="form-control srchinput" value="" onkeyup="FUSION.lib.noAlpha(this)" />
					</div>
				</div>
				<div class="entrydiv_row2">
					<span class="entrylabel">Vintage</span>
					<div class="srchinputdiv">
						<input type="text" id="vintage_low" name="vintage_low" class="form-control srchinput" value="" onkeyup="FUSION.lib.noAlpha(this)" />
						<span class="srchspan">-</span>
						<input type="text" id="vintage_high" name="vintage_high" class="form-control srchinput" value="" onkeyup="FUSION.lib.noAlpha(this)" />
					</div>
				</div>
				<div class="w100fl" style="border-top: 1px solid #AAA;padding-top: 10px;">
					<button id="param_search_button" class="btn btn-primary searchbtn" onclick="runParamSearch()">
						Search Benchmark
						<img id="loading_spinner" src="/assets/spinner.gif" class="spinner" />
					</button>
					<button id="param_search_button" class="btn btn-danger clearbtn" onclick="clearForm()">
						Clear Form
					</button>
				</div>
			</div>
			<div class="w100fl" style="margin-top:30px;">
				<table class="table" id="wine_results_table">
					<thead>
						<tr>
							<th class="label_header">Label</th>
							<th style="min-width:100px;">Name</th>
							<th style="min-width:80px;text-align:center;">Vintage</th>
							<th style="min-width:50px;text-align:center;">Price</th>
							<th style="width:120px;text-align:center;">Scores</th>
							<th style="width:100px;text-align:center;">Availability</th>
							<th>Details</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</body>
</html>