<!DOCTYPE html>
<html>
<head>
  <title>BoringSSL</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="Page that, for now, redirects users to the google code page for BoringSSL">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body onLoad="setTimeout('sendToGoogle()', 5000)">

	<div id="main">
		<%= yield %>
	</div>

</body>
</html>
